@charset "utf-8";


* {
	margin:0;
	padding:0;
}

html, body {
	background-image: url(../img/back01.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #C2DDEB;
	height:100%;
	color: #333333;
	font-size: 12px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#wrap {
	height: 100%;
	width: 752px;
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


h2 {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1em;
	padding-left: 0px;
}
h3 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
h3 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}


p {
	padding: 0px;
	margin-bottom: 1.5em;
}


a:link {
	color: #415E92;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #5C75A1;
}

a:hover {
	text-decoration: underline;
	color: #73BE1E;
}

a:active {
	text-decoration: underline;
	color: #415E92;
}







#pagebody {
	background-image: url(../img/back02.png);
	background-repeat: repeat-y;
	background-position: top;
	height: auto;
	width: 750px;
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 1px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.header {
	height: 76px;
	width: 750px;
	margin: 0px;
	padding: 0px;
}
#mainbody {
	width: 450px;
	float: left;
	line-height: 25px;
	padding-left: 5px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 15px;
}

.footer1 {
	margin: 0px;
	font-size: 10px;
	height: 50px;
	clear: both;
	background-color: #EEEEEE;
	padding: 15px;
}
.footer1 p {
	padding-top: 10px;
	color: #999999;
}

#sideber {
	float: right;
	width: 200px;
	border-left-width: 1px;
	border-left-style: outset;
	border-left-color: #CCCCCC;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 15px;
	margin-top: 25px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#sideber ul {
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
}
#sideber .side_title {
	background-image: none;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	line-height: 28px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	display: block;
	height: 28px;
}

#sideber li {
	list-style-type: none;
	line-height: 30px;
	text-indent: 2em;
	background-image: url(../img/list01.png);
	background-repeat: no-repeat;
	background-position: 0.5em center;
	font-weight: bold;
	color: #666666;
	background-color: #FFFFFF;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin: 0px;
	height: 30px;
}
#sideber .li_end {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	height: 30px;
	padding: 0px;
	line-height: 30px;
}


#sideber a:link {
	color: #666666;
	text-decoration: none;
	display: block;
}

#sideber a:visited {
	text-decoration: none;
	color: #666666;
	display: block;
}

#sideber a:hover {
	text-decoration: underline;
	color: #333333;
	background-color: #ECECEC;
	background-image: url(../img/list01_o.png);
	background-repeat: no-repeat;
	background-position: 0.5em center;
	display: block;
}

#sideber a:active {
	text-decoration: underline;
	color: #666666;
}



#sideber #pickup {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#sideber #pickup li {
	background-image: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-indent: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



#wrap #footer2 {
	margin: 0px;
	height: 65px;
	background-image: url(../img/back03.png);
	background-repeat: no-repeat;
	background-position: top;
	font-size: 10px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	line-height: 12px;
	color: #666666;
}
.left {
	float: left;
}
.right {
	float: right;
}
