@charset "utf-8";

#contact_body .left {
	display: block;
	margin: 0px;
	position: relative;
	width: 90px;
	clear: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 1.5em;
	background-image: url(../img/list02.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	line-height: 30px;
}
#contact_body .right {
	float: none;
	clear: none;
	margin-bottom: 5px;
	padding-top: 5px;
	height: 30px;
}
#contact_body .right_textarea {
	float: none;
	clear: none;
	margin-bottom: 5px;
	padding-top: 5px;
}

#contact_body .form_submit {
	padding-left: 108px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact_body {
	padding: 15px;
	position: relative;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	background-color: #F0F0F0;
}
.style1 {
	font-size: 10px;
	line-height: 15px;
	padding-left: 10px;
	text-indent: -10px;
}
